.App {
  text-align: center;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #3c3c3d;
  color: #ecf0f1;
}

.tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.fading-1 {
  background: 
     linear-gradient(90deg, transparent, white, transparent) 
    bottom /var(--d, 0) 3px no-repeat;
  transition: 0.5s;
}
.fading-1:hover {
  --d: 100%;
}

.greeting {
  font-size: 2.75em;
  text-align: center;
  width: 100%;
  margin-top: 0.5em;
}

.avatar {
  width: 120px;
  height: 120px;
}


