.bg-1 { 
    background-color: #1abc9c;
    color: #ffffff;
}
.bg-2 { 
    background-color: #FDF3E7;
    color: #555555;
}
.bg-3 { 
    background-color: #ffffff;
    color: #555555;
}
.bg-4 { 
    background-color: #474e5d;
    color: #ffffff;
}
.bg-5 { 
    background-color: #2f2f2f; /* Footer */
    color: #ffffff;
}
/*
 * Adding padding
 */

.container-fluid {
    padding-top: 0px;
    padding-bottom: 40px;
}

.img-circle{
	height: 150px;
	width: 150px;
}

.progress-label{
    float: left;
    width: 20%;
}
.progress{
    float: right;
    width: 80%;
}
.fa{
	padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color:white;
}
.panel{
	width: 60%;
}

.nav {
	float: left;
  font-size: 20px;
  margin-bottom:15px;
}

.nav li a{
	color: white;
}
.nav li a:hover{
	color: blue;
}
/*
 * Styles.
 */
 .bg-2 p ul li{
 	font-family: Lucida Console, Arial;
 	font-size: 18px;
 }

